/* COMMON */
.container {
  animation: fadeIn 1s;
  transition: 1s;
  position: relative
}

@keyframes fadeIn {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* header */
header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: .5s ease;
}

header .brand {
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation {
	position: relative;
}

header .navigation .navigation-items a{
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;
	transition: .3 ease;
}

header .navigation .navigation-items a:before {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: .3s ease;
}

header .navigation .navigation-items a:hover:before {
	width: 100%
}


/* home */
.home .content h1 {
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px;
	margin-bottom: 40px;
}

section {
	padding: 100px 200px
}

.home {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #f7c200;
}

.home:before {
	z-index: 777;
	content:'';
	position: absolute;
	background: #b1a65636;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.home .content {
	z-index: 888;
	color:#fff;
	width: 70%;
	margin-top: 50px;
	
}

.hoem .content h1 {
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px;
	margin-bottom: 40px;	
}
.home .content h1 span {
	font-size: 1.2em;	
	font-weight: 600;
}

.home .content p {
	margin-bottom: 50px;
}

.home .content a {
	background-color: #fff;
	padding: 15px 35px;
	color: #f7c200	;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	border-radius: 4px;
}

.home .media-icons {
	z-index: 888;
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	transition: .5s ease;
	
}

.home .media-icons a {
	color: #fff;
	font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover {
	transform: scale(1.3);
	transition: .3s;
}

/* Video */
.home video {
	z-index: 000;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}


/* Slider */
.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:first-child) {
	margin-left: 20px;
}

.slider-navigation .nav-btn:hover {
	transform: scale(1.2);
}

.slider-navigation .nav-btn.active {
	background-color: #f7c200;
}

.video-slide { 
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}

.video-slide.active {
	clip-path: circle(150% at 0 50%);
	transition: 2s ease;
	transition-property: clip-path;
}

/* MediaQuery */
@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

	header .navigation.active {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba( 1, 0 , 0 , .5);
	}
	
	
	header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
	}

	header .navigation .navigation-items a:before{
		background: #222;
		height: 3px;
	}
	
	header .navigation .navigation-items {
		background: #fff;
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
		flex-direction: column;
		display: flex;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0 5px 25px rgb( 1 1 1 / 20%);
	}
	.menu-btn {
    background: url(../images/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

	.menu-btn.active{
		z-index: 999;
		background: url(../images/close.png)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: .3s ease;
	}	
}


/* MAIN DISPLAY*/
.main__display {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/SAKURA.jpeg");
  background-size:cover;
  background-attachment: fixed;
  opacity: 0.8;

}

.main__display .contents-texture {
  
  font-size: 10rem;
  color: rgb(190, 167, 115);

}

.introduction__display {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8ff;
  background-image: url("../images/food.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom ;
}
.section__fixed h1 {
  font-size: 3rem;
  
}



/* Card Section */
.card__container {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  min-height: 100vh;

}

section:nth-child(3) {

}

section:nth-child(4) {


}

section:nth-child(5) {
}

.section__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__card .container__card {
  margin: 6rem;
}

.section__card h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.section__card h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.section__card .cards {
  margin-bottom: 1rem;
  flex-direction: row;
}

.section__card .cards {
  background-image: url("../images/SAKURA.jpeg");
}
.section__card .text-card {
  
  margin: 2rem;
  padding: 2rem;
}


/* grid Section */


.Section__grid .bg {  
  background: url("../images/omote.jpeg");
  height: 8.625vw;
  background-size: cover;
  background-attachment: fixed;
}

.container__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.container__grid div{
  
}

.container__grid div:nth-child(1){
  grid-column: 1 / 3;
}
.container__grid div:nth-child(7){
  grid-column: 2 / 4;
}
.container__grid div:nth-child(11){
  grid-column: 1 / 4 ;
}