/* INIT START */
:root {
    font-size: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    animation: fadeIn 1s;
    transition: 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.section {
    width: 100vw;
    height: 100vh;
}
.section:nth-child(1) { background-color: aliceblue; }
.section:nth-child(2) { background-color: antiquewhite; }
.section:nth-child(3) { background-color: aqua; }
.section:nth-child(4) { background-color: aquamarine; }
.section:nth-child(5) { background-color: bisque; }
a {
    text-decoration: none;
    color: #000
}
a:focus {
    color: #000
}